---
layout: default
title: Research Projects
description: Some of my latest work on frontier og American Politics and Political Methodology. 
---

<!-- begin hero -->
<section class="hero">
  <div class="container">
    <div class="row">
      <div class="col col-12">
        <div class="hero__inner">
          <h1 class="hero__title">{% if page.title %}{{ page.title }}{% else %}{{ site.data.settings.blog__settings.blog__title }}{% endif %}</h1>
          {% if page.description %}
            <p class="hero__description">{{ page.description }}</p>
          {% else site.data.settings.blog__settings.blog__description %}
            <p class="hero__description">{{ site.data.settings.blog__settings.blog__description }}</p>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</section>
<!-- end hero -->

<html>
<head>
<style>
body {
    font-family: Arial, sans-serif;
}
h2 {
    font-size: 1.5em;
}
p {
    margin-bottom: 1em;
}
a {
    color: #0000EE;
}
</style>
</head>
<body>

<h2>Peer-Reviewed Articles</h2>

<p><strong>Analyzing Political Text at Scale with Online Tensor LDA.</strong> R&R at Political Analysis. (with Sara Kangaslahti, Jean Kossaifi, R. Michael Alvarez, Anima Anandkumar)</p>

<p><strong>Legislative Communication and Power: Measuring Leadership from Social Media Data.</strong> Forthcoming at European Political Science Review. (with Hao Yan, R. Michael Alvarez, Sanmay Das, Betsy Sinclair) <a href="https://doi.org/10.1017/S1755773924000146">DOI: 10.1017/S1755773924000146</a></p>

<!-- Add more articles here -->

<h2>Working Papers</h2>

<p><strong>Topic Models are Statistically Inconsistent, More Biased with More Data, and Substantively Misleading: Evidence, Solutions, and Applications</strong> Job Market Paper. (with Sara Kangslanthi) <a href="https://dannyebanks.com/files/topic_consist.pdf">Paper</a></p>

<!-- Add more papers here -->

<h2>Research Interests</h2>

<p>American Politics, Political Methodology, Election Forecasting, Congress, Natural Language Processing, Latent Variable Models, Scalable Tensor Methods, Machine Learning, Causal Inference, Congressional Elections, Bayesian Statistics, Text-as-data methods, Climate Politics</p>

<h2>Other Research Articles</h2>

<p><strong>Fedwire Funds Service: Payments, Balances, and Available Liquidity</strong> Finance and Economics Discussion Series. 2021. (Anton Badev, Lauren Clark, Jeffrey Marquardt, David Mills) <a href="https://doi.org/10.17016/FEDS.2021.070">DOI: 10.17016/FEDS.2021.070</a></p>

<!-- Add more articles here -->

</body>
</html>

