---
layout: default
title: Research Projects
description: Some of my latest work on frontier of American Politics and Political Methodology. 
---

<!-- begin hero -->
<section class="hero">
  <div class="container">
    <div class="row">
      <div class="col col-12">
        <div class="hero__inner">
          <h1 class="hero__title">{% if page.title %}{{ page.title }}{% else %}{{ site.data.settings.blog__settings.blog__title }}{% endif %}</h1>
          {% if page.description %}
            <p class="hero__description">{{ page.description }}</p>
          {% else site.data.settings.blog__settings.blog__description %}
            <p class="hero__description">{{ site.data.settings.blog__settings.blog__description }}</p>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</section>
<!-- end hero -->


<html>
<head>
<style>
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f485;
    line-height: 1.6;
    color: #333;
}

.container {
    width: 65%;
    margin: auto;
    overflow: hidden;
}

h2 {
    font-size: 2em;
    margin-top: 1em;
    color: #444;
}

p {
    margin-bottom: 1em;
}

a {
    color: #3498db;
    text-decoration: none;
}

a:hover {
    color: #2980b9;
}

strong {
    color: #2c3e50;
}
</style>
</head>
<body>

<div class="container">

    <h2>Research Interests</h2>

    <p>American Politics, Political Methodology, Electoral Politics, Party Politics, Election Forecasting, Congress, Natural Language Processing, Latent Variable Models, Scalable Tensor Methods, Machine Learning, Causal Inference, Congressional Elections, Bayesian Statistics, Text-as-data methods, Climate Politics</p>
  
    <h2>Peer-Reviewed Articles</h2>

    <p><strong>Analyzing Political Text at Scale with Online Tensor LDA.</strong> Conditionally Accepted at Political Analysis. (with Sara Kangaslahti, Jean Kossaifi, R. Michael Alvarez, Anima Anandkumar)</p>
    
    <p><strong>Legislative Communication and Power: Measuring Leadership from Social Media Data.</strong> Forthcoming at European Political Science Review. (with Hao Yan, R. Michael Alvarez, Sanmay Das, Betsy Sinclair) <a href="https://doi.org/10.1017/S1755773924000146">DOI: 10.1017/S1755773924000146</a></p>

    <p><strong>Climate change free riders: Identifying free riding among Americans, motivating more collective sustainable behavior.</strong> Scientific Reports, 2024. (with Beatrice Magistro, Cecilia Abramson, Ramit Debnath, R. Michael Alvarez) <a href="https://doi.org/10.1038/s41598-024-57042-w">DOI: 10.1038/s41598-024-57042-w</a></p>
    
    <p><strong>Persuadable voters decided the 2022 midterm: Abortion rights and issues-based frameworks for elections.</strong> PLOS-ONE, 2023. (with Claudia Kann, Jacob Morrier, R. Michael Alvarez) <a href="https://doi.org/10.1371/journal.pone.0294047">DOI: 10.1371/journal.pone.0294047</a></p>
    
    <p><strong>Why don't Americans trust university researchers and why it matters for climate change.</strong> PLOS-Climate, 2023. (with R. Michael Alvarez, Ramit Debnath) <a href="https://doi.org/10.1371/journal.pclm.0000147">DOI: 10.1371/journal.pclm.0000147</a></p>
    
    <p><strong>Do fossil fuel firms reframe online climate and sustainability communication? A data-driven analysis.</strong> npj Climate Action, 2023. (with Ramit Debnath, Kamiar Mohaddes, Thomas Roulet, R. Michael Alvarez) <a href="https://doi.org/10.1038/s44168-023-00086-x">DOI: 10.1038/s44168-023-00086-x</a></p>
    <!-- Add more articles here -->

    <h2>Working Papers</h2>

    <p><strong>Topic Models are Statistically Inconsistent, More Biased with More Data, and Substantively Misleading: Evidence, Solutions, and Applications</strong> Working Paper. (with Sara Kangslanthi) <a href="https://dannyebanks.com/files/topic_consist.pdf">Paper</a></p>
    
    <p><strong>How American Politics Ensures Electoral Accountability in Congress.</strong> Working Paper. (with Jonathan N. Katz, Gary King) <a href="https://gking.harvard.edu/acc">Paper</a></p>

    <p><strong>If a Statistical Model Predicts That Common Events Should Occur Only Once in 10,000 Elections, Maybe it’s the Wrong Model.</strong> Working Paper. (with Jonathan N. Katz, Gary King) <a href="https://gking.harvard.edu/10k">Paper</a></p>
    
    <p><strong>Improving Joint Sentiment-Topic Modeling for Studying Political Text: A Tensor Decomposition Approach.</strong> Working Paper. (with R.Michael Alvarez, Nick Adams-Cohen)</p>
    
    <p><strong>Ideological Feature Extraction.</strong> Working Paper. (with R.Michael Alvarez, Betsy Sinclair, Joon Park, Bojan Tonguz)</p>
    
    <p><strong>Eroding Trust in Democracy: How Social Media Attacks on Election Officials in 2020 Undermined American Election Institutions.</strong> Under Review. (with Sarah Hashah, Sreemanti Dey, R. Michael Alvarez)</p>
    <!-- Add more papers here -->

    <h2>Pre-Registered Studies</h2>
    
    <p><strong>How Partisan Mediation Biases Trust in Scientists: Conjoint Evidence and Implications for Climate Change.</strong> Working Paper. (with Ramit Debnath, R. Michael Alvarez) <a href="https://osf.io/8ufdv">DOI: osf.io/8ufdv</a></p>

    <p><strong>Calibration of Polarized Trust in Scientists.</strong> Working Paper. (with Ramit Debnath, R. Michael Alvarez) <a href="https://doi.org/10.17605/OSF.IO/WF2SX">DOI: 10.17605/OSF.IO/WF2SX</a></p>

    <h2>Other Research Articles</h2>

    <p><strong>Fedwire Funds Service: Payments, Balances, and Available Liquidity</strong> Finance and Economics Discussion Series. 2021. (Anton Badev, Lauren Clark, Jeffrey Marquardt, David Mills) <a href="https://doi.org/10.17016/FEDS.2021.070">DOI: 10.17016/FEDS.2021.070</a></p>
    
    <p><strong>The Network of Large-Value Loans in the U.S.</strong> Working Paper. (with Anton Badev)</p>
    <!-- Add more articles here -->
</div>

</body>
</html>

